/* Header image - owned by Faith B */
.imageHeader {
    background-image: url("../Images/header-image.JPG");
    min-height: 30vh;
    background-size: cover;
    background-position: center;
}
.HeaderBoarder {
    background: #4C704C;
}

/* Header formatting - owned by April M */
.header-start {
	padding-top: 110px;
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4px;
	margin-top: 0px;

}
.header-end { 
    color: white;
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;
	text-align: center;
	padding-bottom: 25px;
    letter-spacing: 4px
} 
.header-Middle{ 
    color: white;
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;
	text-align: center;
	padding-bottom: 1px;
    letter-spacing: 4px
} 
.logo {
  max-width: 100%;
  height: auto;
 padding-bottom: 5px;
}


p {font-family: "Segoe UI",Arial,sans-serif;
   font-size: 18px;
        margin-left:18px;
       
  }
h1 {    
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 35px;
   	font-weight: bold;
	text-align: center;
}
h2 {
	font-family: "Segoe UI",Arial,sans-serif;
	padding-top: 16px;
   	padding-bottom: 16px;
	border-bottom: 1px solid;
	border-color: #f1f1f1;
	letter-spacing: 4px
}
h3  { 
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 25px;
	color: Black;
	border-bottom: 3px solid #ccc!important;
}
h4, h5 {
    font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	color: Black;
}
.content-div{
	max-width:2000px;
	margin: auto;
	padding: 0px!important;
	padding-top: 8px!important; 
	padding-bottom: 8px!important; 
}
.text-dive{
	margin-left: 10%;
  margin-right: 10%;
	box-sizing: inherit;
	padding: 0px;
	padding-top: 32px!important;
	padding-bottom: 32px!important;
}


.border-padding {
    border-bottom: 0px solid #ccc!important;
	/*border-color: none;*/
	padding-top: 10px!important;
    padding-bottom: 10px!important;
	border-color: #f1f1f1!important;
} 


/* Navbar - owned by Rylee G*/

.topmargin {
padding-top: 3px;
}
body{
margin:0;
font-family:Verdana,sans-serif;
}

/* this keeps the dropdown menu on the left of screen to keep it from getting hidden on small screens*/

.dropdown-menu-right {
  
   left: auto !important;
}
/*creates a topnav*/

.topnav {
overflow: hidden;
text-decoration: none;
margin: 0;
}
/*creates styles for dropdown list in navbar*/

.topnav a {
text-decoration: none;
display: block;
font-family: Verdana,sans-serif;
font-size: 15px;
float:left;
text-align: center;
 letter-spacing: 4px;
padding: 14px 16px;
color: black;
margin-top: 2px;
}

/* gives style to page titles that are actively on screen*/

.active1 {
  background-color:white;
  color: white;
}
/* hamburger icon that is hidden when not on small screens*/

.topnav .icon {
  display: none;
}

/*added*/


/* --- Dropdown menu in Navbar - owned by Matthew De Matos --*/
.dropdown2 {
    overflow: hidden;
    float: left;
}

/* Dropdown Content, hidden by default */

.dropdown2-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:4;
}

/*dropdown menu styles*/

.dropdown2 .dropbtn {
    float: left;
    border: none;
    padding: 14px 16px;
    margin-top: 2.5px !important;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
}

/* Links inside the dropdown */

.dropdown2-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown2-content a:hover {
background-color: #D3D3D3;
}

/* Show the dropdown menu on hover */

.dropdown2:hover .dropdown2-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.topnav a:hover .dropdown2:hover .dropbtn {
  background-color: #D3D3D3;
}

/* Reponsive elements of Dropdown and Navbar - owned by Rylee G. */
/* responsive section that makes navbar display in small screens, shows two different screens based on media screen size. Shows hamburger only in small screens*/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown2 .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
   position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  
  }
  .topnav.responsive a  {
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown2 {
float: left;
  }
  .topnav.responsive .dropdown2-content {
position: fixed;
  }
  .topnav.responsive .dropdown2 .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Draft Footer started by Faith B.*/

#FooterTitle{
    padding-bottom: 2px;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
#FooterTagline{
    margin: 3px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-style: italic;
}

.bottom{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0px 0px;

	
}
#footer{
    color: rgb(0, 0, 0);
    background-color: #4C704C ;
  
}


/*The list idea and parts of the code was inspired by these two websites: https://web-eau.net/en/blog/10-best-footer-html-css-snippets and https://learn.shayhowe.com/html-css/creating-lists/#:~:text=The%20quickest%20way%20to%20display,space%20between%20each%20list%20item.*/
#Footer-ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
.Ft_Inline_Item{
    padding-top: 30px;
    display: inline;
    padding:15px 15px;
}
/*Links in footer*/
/*Button idea and code from: https://www.w3schools.com/css/css3_buttons.asp*/
.Ft_Inline_Item:hover{
    background-color: #828b9177;
}
.FT-Link{
    color: white;
    text-decoration: none;
}
/*Social media icon idea and code discovered from:https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.fa-instagram {
    background: #ff0040;
    color: white;
    border-radius: 25%;
    padding:3px;
  }
/*Creates row and column code to allow for two columns in the footer*/
/*--to do a two column footer, the code and ideas from w3schools.com was used:https://www.w3schools.com/howto/howto_css_two_columns.asp*/
.FT-row{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
*{
    box-sizing: border-box;
}
.FT-columnA{
    max-width: 40vw;
    padding-left: 10%;
    margin-right: 5%;
    text-align: left;
}
.FT-columnB{
    max-width: 50vw;
    text-align: right;
    padding-right: 10%;
    margin-left: 5%;
}
.FT-columnc{
    max-width: 50vw;
    text-align: left;
    padding-right: 10%;
    margin-left: 5%;
}
.FT-columnM{
    max-width: 50vw;
    padding-right: 60px;
}
#Copyright{
    text-align: center;
    font-size: 14px;
}
/*Team Managment Page CSS By FaithB*/
.Left_Align{
    text-align: justify;
    font-size: 14px;
}
.Right_Align{
    text-align: justify;
    font-size: 14px;
}
/*Responsive section by Faith and Rylee*/
.R_Image{
    width: 100px;
    height: 100px;
    text-decoration: none;
}
.R_Image1{
  width: 100%;
  height: auto;
  text-decoration: none;
}
.Break650{
    display: none;
}
@media (max-width: 650px){
    .FT-row{
        display: flex ;
        flex-direction: column;
        justify-content: center;
    }
    .FT-columnA{
        max-width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 0%;
    }
    .FT-columnB{
        max-width: 100vw;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 0%;
    }
	.FT-columnC{
        max-width: 100vw;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 0%;
    }
    .FT-columnM{
        display: none;
    }
    .Break650{
        display: flex;
    }
}
.MMImage{
  max-height: 100px;
  max-width: 100px;
}
.R_ImageMap{
  max-width: 566px;
  max-height: 393px;
  width: 100%;
  height: 100%;
}
/*Newsletter specific css by FayB*/

#container{
    display: flex;
    flex-direction: column;
    columns: 2;
    margin: 0 auto;
    text-align: center;
}
.ExpandingButton{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #698d69;
    color: white;
    cursor: pointer;
    padding:1.5em;
    margin-bottom: .3em;
    border: black .5px;
    font-size: 15px;
    font-weight: bold;
}
.Article {
    margin-left: 15%;
    margin-right: 15%;
    display: none;
    background-color: white;
    overflow: hidden;
    line-height: 1.5;
    text-align: justify;

    }
/* creates an active button when hovering over the button Maya Ivimey*/    
.active,.ExpandingButton:hover{
    background-color: #1b451b;
}
/*The following is used from w3schools to create plus and minus for expanding content: https://www.w3schools.com/howto/howto_js_accordion.asp*/
.ExpandingButton:after {
    content: '\002B';
    color: white;
    font-size: 20px;
}
.active:after {
    content: "\2212";
    color: white;
    font-size: 20px;
  }
.CenterThis{
    text-align: center;
  }
/*put the pictures side by side Maya Ivimey*/
.pictureSide {
  float: left;
  width: 25%;
  padding-left: 5%;
  vertical-align: sub;
}
/* Styles the buttons Maya Ivimey*/
.styleButton{
	background-color: #698d69;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

/* Circular image class for Investors page - Matthew De Matos 
From https://www.shecodes.io/athena/40835-how-to-round-an-image-in-html#:~:text=To%20make%20an%20image%20round,give%20it%20a%20circular%20shape.&text=This%20assumes%20that%20the%20img,image%20you%20want%20to%20round.*/
.img_round {
	border-radius: 50%;
}

#myTopnav a.selected{
    background-color: #698d6921;
}
