.image {
	 background-image: url("header-image.jpg");
}

.header-start {
	padding-top: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
}
.header-end { 
  color: white;
	font-size: 14px;
	text-align: center;
	padding-top: 25px;
}
