.image {
	 background: #D8BFD8;
}

.header-start {
	padding-top: 50px;
	color: white;
	font-family: Georgia, serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.header-end { 
  color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-align: center;
	padding-bottom: 25px;
}

h3 {
	font-family: Georgia, serif;
	padding-top: 16px;
   	padding-bottom: 16px;
	border-bottom: 1px solid
	border-color: #f1f1f1;
}
.content-div{
	max-width:1800px;
	margin: auto;
	padding: 8px 16px!important; 
}
.text-dive{
	margin: auto;
	box-sizing: inherit;
	padding-top: 32px!important;
	padding-bottom: 32px!important;
}
