.image {
	 /*background: #4C704C;*/
    background-image: url("Images/header-image.JPG");
    min-height: 55vh;
    background-size: cover;
    background-position: center;
}
.header-start {
	padding-top: 110px;
	color: Black;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
		letter-spacing: 4px

}
.header-end { 
    color: Black;
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;
	text-align: center;
	padding-bottom: 25px;
    letter-spacing: 4px
} 

.logo {
    width: 40px;
    height: 40px;
}

#click {
	display: none;
}

p { font-family: "Segoe UI",Arial,sans-serif;
   font-size: 18px;
}
h1 {    font-family: "Segoe UI",Arial,sans-serif;
    	font-size: 35px;
   	font-weight: bold;
	text-align: center;
}
h2 {
	font-family: "Segoe UI",Arial,sans-serif;
	padding-top: 16px;
   	padding-bottom: 16px;
	border-bottom: 1px solid;
	border-color: #f1f1f1;
	letter-spacing: 4px
}
h3  { 
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	color: Black;
	border-bottom: 3px solid #ccc!important;
}
.content-div{
	max-width:1800px;
	margin: auto;
	padding: 0px!important;
	padding-top: 8px!important; 
	padding-bottom: 8px!important; 
}
.text-dive{
	margin: auto;
	box-sizing: inherit;
	padding: none;
	padding-top: 32px!important;
	padding-bottom: 32px!important;
}


.border-padding {
        border-bottom: 0px solid #ccc!important;
	border-color: none;
	padding-top: 10px!important;
        padding-bottom: 10px!important;
	border-color: #f1f1f1!important;
} 

/* Dropdown Menu - started by Matthew D.*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #4C704C ;
}

/*Draft Footer started by Faith B.*/
#FooterTitle{
    text-align: center;
    font-size: 20px;
    color: black;
}
#FooterTagline{
    text-align: center;
    font-size: 16px;
    color: Black;
    font-style: italic;
}

.bottom{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0px 0px;

	
}
#footer{
    background-color: #4C704C ;
   /* margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px; */
}

/*making the darkmode-lightmode button look pretty*/
.g5stylebtn {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

/*The list idea and parts of the code was inspired by these two websites: https://web-eau.net/en/blog/10-best-footer-html-css-snippets and https://learn.shayhowe.com/html-css/creating-lists/#:~:text=The%20quickest%20way%20to%20display,space%20between%20each%20list%20item.*/
#Footer-ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
.Ft_Inline_Item{
    padding-top: 30px;
    display: inline;
    padding:15px 15px;
}
/*Links in footer*/
/*Button idea and code from: https://www.w3schools.com/css/css3_buttons.asp*/
.Ft_Inline_Item:hover{
    background-color: #828b91;
}
.Ft_Inline_Item:visited{
    background-color: #000000;
}
.FT-Link{
    color: white;
    text-decoration: none;
}
/*Social media icon idea and code discovered from:https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.fa-instagram {
    background: #ff0040;
    color: white;
    border-radius: 25%;
    padding:3px;
  }
/*Creates row and column code to allow for two columns in the footer*/
/*--to do a two column footer, the code and ideas from w3schools.com was used:https://www.w3schools.com/howto/howto_css_two_columns.asp*/
.FT-row{
    display: flex;
    justify-content: space-between;
}
*{
    box-sizing: border-box;
}
.FT-columnB{
    text-align: right;
    padding-right: 45px;
    padding-left: 115px;
    margin-left: 50px;
}
.FT-columnA{
    padding-left: 45px;
    padding-right: 115px;
    margin-right: 50px;
    text-align: left;
}
#Copyright{
    text-align: center;
}
/*Team Managment Page CSS By FaithB*/
.Left_Align{
    text-align: justify;
    font-size: 14px;
}
.Right_Align{
    text-align: justify;
    font-size: 14px;
}